body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 400px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.header {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.divider {
    width: 93%;
    border: 1px solid orange;
    margin: 10px auto;
}

.content {
    text-align: center;
    margin: 20px 0;
}

label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

#valor {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: start;
    background-color: #ffe6cc;
    color: black;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.btn {
    width: 85%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.abrir {
    background-color: #ffc680;
    color: black;
}

.cancelar {
    background-color: #0056b3;
    color: white;
}

